.color-primary {
    background-color: #24243c !important;
    border-color: #24243c !important;
}
.color-background {
    background-color: #1c1b2b !important;
}
.color-secondary {
    background-color: #1577d4 !important;
    border-color: #1577d4 !important;
}
.color-accent {
    background-color: #161622 !important;
}
.color-text, p, h1, h2, h3, h4, h5, h6{
    color: #F8F8FF !important;
}

.color-red{
    background-color: red !important;
}
.color-green {
    background-color: green !important;
}
.color-gray {
    background-color: rgb(160, 160, 160) !important;
}


.text-standart {

}
.text-title {

}
.text-big-title {

}
