
.login {
    height: auto !important;
    width: 340px !important;
    margin-top: 100px;
    padding: 35px;
    border-radius: 10px;
}
.login * {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    align-self: center; /* Works only if the parent has display: flex */
    padding: 0; /* Replace "auto" with 0 or other padding values */
    text-align: center;
    box-sizing: border-box; /* Ensures padding doesn't affect total width/height */
    font-size: 16px;
    border-style: none !important;
    border-radius: 10px;
}

.login input {
    text-align: left;
    padding: 10px;
    background-color: transparent !important;
    border-style: solid !important;
}
.login h3{
    font-size: 50px;
}
.login p {
    height: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}
.login .seperator {
    color: #555;
    font-size: 18px;
    margin: 20px 0;
    gap: 10px;
}
.login .seperator:before, .login .seperator:after {
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: 2px;
    margin: 0;
}