.text-center {
    text-align: center !important;
}
.h-100 {
    height: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.d-flex {
    display: flex !important;
}
.flex-justify-end {
    justify-content: flex-end;
}
.v-align-baseline {
    vertical-align: baseline !important;
}
.flex-column {
    flex-direction: column;
}
.center {
    align-self: center !important;
}
.flex-center {
    align-items: center;
    text-align: center;
}







body {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
}
header .switch {
    margin: 26px !important;
    margin-right: 10px;
}
header h6 {
    font-size: 20px;
    margin: 20px;
    margin-right: 5px;
    line-height: 1.7;
}